@import 'reset.css';

img{
  width: 200px;
  height: 200px;
  float: left;
  border: 5px solid lightblue;
  margin: 15px;
}

h1{
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 40px;
  color: white;
  
}

header{
  background-color: blue;
  text-align: center;
  margin: 30px auto;
}

footer{
  clear: both;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:blue;
  color: white;
  text-align: center;
  height: 40px;
  margin-top: 50px;
  line-height: 40px;
}

section{
  margin: 30px auto;
  overflow: auto;
  
}

